.member-photo {
    /* max-width: 300px; */
}

.team-card {
    /* width: fit-content; */
}

.footer {
    font-family: poppins;
    background-color: rgb(209, 209, 209);
    bottom: 0;
    position: fixed;
}