/* .member-photo {
    max-width: 300px;
} */

.card {
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    max-width: 700px !important;
}

.card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fact-card-text{
    color:#FCFCFD !important;
    margin-top: 2rem;
    margin-bottom: 2rem
}

.bg-cream {
    background-color: #f7f1ee !important;
}

.footer {
    position: relative;
    /* bottom: 0; */
    width: 100vw;
    /* height: 10rem; */
}

.footer-logo {
    display: flex;
    width: 15rem;
    margin: 0 auto;
}

.navbar-logo {
    width: 300px;
}

.text-brown {
    color: #51372A !important;
}

.side-btn{
    --bs-btn-color:#FCFCFD !important;
    --bs-btn-bg: #2f3132 !important;
    --bs-btn-border-color: #b2b2b4 !important; 
    --bs-btn-hover-bg: #424649!important;
    --bs-btn-hover-border-color: #FCFCFD !important;
    --bs-btn-disabled-bg: #424649 !important;
    --bs-btn-disabled-border-color: #FCFCFD !important;
    --bs-btn-disabled-hover-bg: #2f3132 !important;
}

.disabled-btn{
    cursor: not-allowed !important;
    pointer-events: all !important;
}

.btn-brown {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: #51372A !important;
    --bs-btn-border-color: #51372A !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #432b20 !important;
    --bs-btn-hover-border-color: #432b20 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #472f23 !important;
    --bs-btn-active-border-color: #432b20 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #fff !important;
    --bs-btn-disabled-bg: #69554b !important;
    --bs-btn-disabled-border-color: #69554b !important;
}

.btn-cream {
    --bs-btn-color: #51372A !important;
    --bs-btn-bg: #f6eeea !important;
    --bs-btn-border-color: #f6eeea !important;
    --bs-btn-hover-color: #432b20 !important;
    --bs-btn-hover-bg: #ede4df !important;
    --bs-btn-hover-border-color: #ede4df !important;
    --bs-btn-focus-shadow-rgb: 211, 212, 213!important;
    --bs-btn-active-color: #432b20 !important;
    --bs-btn-active-bg: #e8ddd8 !important;
    --bs-btn-active-border-color: #e8ddd8 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #69554b !important;
    --bs-btn-disabled-bg: #f8f9fa !important;
    --bs-btn-disabled-border-color: #f8f9fa !important;
}

.toast {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    border-color: #f6eeea;
}