
body {
  font-family: poppins;
}

.bg-body-tertiary {
  background-color: #f7f1ee !important;
  /* height: 70px; */
}

.ms-auto {
  font-family: poppins!important;
}

.c-item {
  height:600px;
  /* padding-top:30px; */
}
.carousel-img {
  height:100%;
  object-fit: cover
}

.carouselBtn {
  font-family: poppins !important;
  margin-bottom: 40px;
}

/* @media (min-width: 768px) {
  .carousel-img {
    height: 60vh !important;
  }
} */

/* .carouselP {
  font-size: 25px;
  font-family: poppins!important;
} */

/* .carouselWelcome {
  font-size: 35px;
  text-shadow: 0px 1px whitesmoke;
  font-family: poppins!important;
  margin-bottom: 30px;
} */