body {
  font-family: poppins;
}
.ms-auto {
  font-family: poppins!important;
}
.logo{
  font-size: 15px!important;
  font-weight: 600;
  font-family: poppins !important;
  color: rgb(77, 75, 75) !important;
}

.c-item {
  height:500px;
  padding-top:30px;
}
.carousel-img {
  height:100%;
  object-fit: cover
}

.carouselBtn {
  font-family: poppins !important;
  margin-bottom: 40px;
}

/* @media (min-width: 768px) {
  .carousel-img {
    height: 60vh !important;
  }
} */
.carouselP {
  font-size: 25px;
  font-family: poppins!important;
  text-shadow: 0px 1px whitesmoke;
}
.carouselWelcome {
  font-size: 35px;
  text-shadow: 0px 1px whitesmoke;
  font-family: poppins!important;
  margin-bottom: 30px;
}